<!DOCTYPE html>
<html>
  <head>
  <title>Home Automation Web Server with BeagleBone</title>
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!--STYLES-->
    <!--<link rel="stylesheet" href="/public/css/angular-material.min.css">-->
    <link rel="stylesheet" href="/public/css/login.css">
    <!--STYLES END-->
  </head>
  <body>
<hgroup>
  <div id="logo"><img src="/public/images/nwp_logo.png" width="300"></div>
  <h3>create an account</h3>
</hgroup>
<form action="/create" method="post">
  <div class="group">
    <input type="text" name="username"><span class="highlight"></span><span class="bar"></span>
    <label>Username</label>
  </div>
  <div class="group">
    <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="submit" class="button buttonBlue">Create
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="http://www.polymer-project.org/" target="_blank"></a>
  <p><a href="http://lunartransit.com/" target="_blank">Lunar Transit</a></p>
</footer>

<% include footer %>