
    <!--SCRIPTS-->
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/angular-animate.min.js"></script>
    <script src="/public/js/angular-aria.min.js"></script>
    <script src="/public/js/tinycolor.js"></script>
    <script src="/public/js/angular-cookies.min.js"></script>
    <script src="/public/js/angular-material.min.js"></script>
    <script src="/public/js/mdColorPicker.min.js"></script>
    <script src="/public/js/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>