<header class="container--baseline m--2 bg--black">
  <h1 class="m--1 g--4">Navigation</h1>
</header>
<div class="container g--9 m--3"  ng-app="App" ng-controller="MainController">
    <div class="card">
        <div md-color-picker ng-model="valueObj"></div>
    </div>
</div>