<aside class="nav--super-vertical g--2 g-med--3 g-small--6 g-tiny--12 no-margin-vertical">
  <div class="g--12 logo-area no-margin-vertical">
    <img src="/public/images/nwp_logo.png">
  </div>
  <nav class="g--12">
    <a href="">About</a>
    <div class="nav-collapsible">
      <input type="checkbox" id="nav-collapsible-1">
      <label for="nav-collapsible-1">Units</label>
      <div class="nav-collapsible-links">
        <a href="../docs/alerts.html">GlaDOS</a>
        <a href="../docs/animations.html">Heart Sensor</a>
        <a href="../docs/buttons.html">Lun Cocoon</a>
      </div>
    </div>
    <a href="">Contact</a>
  </nav>
</aside>
